
@{
    ViewBag.Title = "Index";
}
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index" ,"Principal")">
                <i><img src="https://img.icons8.com/nolan/40/000000/fund-accounting.png"></i>
                <span>Principal</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i><img src="https://img.icons8.com/nolan/40/000000/cashbook.png"></i>
                <span>Listas</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="@Url.Action("Index" ,"Usuario")"> Usuarios</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"ContaPagar")">Contas a pagar</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"Categoria")">Categorias</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"Cliente")">Clientes</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"ContaReceber")">Contas a Receber</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"CartaoCredito")">Cartões de Crédito</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"Comprar")">Compras</a>
                <a class="dropdown-item" href="@Url.Action("Index" ,"Contabilidade")">Contabilidade</a>
            </div>
        </li>
    </ul>
    <div class="container-fluid">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Principal</a>
            </li>
            <li class="breadcrumb-item active">Menu</li>
        </ol>
        <h1 class="text-center">Clique na Categoria</h1>

        <div class="row">
            <div class="col-md-3">
                <div class=" list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"ContaPagar")"> <img src="https://img.icons8.com/nolan/96/000000/receipt.png"> Contas a Pagar</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"ContaReceber")"> <img src="https://img.icons8.com/nolan/96/000000/receive-cash.png">Contas a receber</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"Usuario")"> <img src="https://img.icons8.com/nolan/96/000000/checked-user-male.png">Usuarios</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"Categoria")"><img src="https://img.icons8.com/nolan/96/000000/opened-folder.png">Categorias</a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"Cliente")"><img src="https://img.icons8.com/nolan/96/000000/client-company.png">Cliente</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"Comprar")"><img src="https://img.icons8.com/nolan/96/000000/shopping-cart.png">Compras</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"Contabilidade")"><img src="https://img.icons8.com/nolan/96/000000/calculator.png" />Contabilidade</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" list-group-item-action">
                    <a class="" href="@Url.Action("Index" ,"CartaoCredito")"><img src="https://img.icons8.com/nolan/96/000000/insert-card.png">Cartões de Crédito</a>
                </div>
            </div>
        </div>


        <div align="center">

            <img src="~/Content/slide-img1.png" />
        </div>
    </div>
</div>